<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.approval.test.board.mapper.BoardMapper">

    <!-- 새글 등록 -->
    <insert id="saveBoard">
        INSERT INTO board(
        member_index
        , title
        , contents
        , reg_dt
        , status
        )
        VALUES(
        #{memberIndex}
        , #{title}
        , #{contents}
        , NOW()
        , 'Y'
        )
    </insert>

    <!-- 게시글 seq조회 -->
    <select id="getSaveBoardSeq" resultType="int">
        select MAX(seq) FROM board
        WHERE member_index = #{memberIndex}
    </select>


    <!-- 게시판 목록 조회 -->
    <select id="getBoardList" resultType="BoardResponse">
        SELECT
        seq
        , title
        , member_name AS memberName
        , member_index AS memberIndex
        , reg_dt AS regDT
        , upd_dt AS updDT
        FROM
        board AS A,
        user_info B
        WHERE
        A.member_index = 	B.member_idx
        AND A.status = 'Y'
        <if test="keyword != null">
            AND title like CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY seq desc
        limit #{startIndex}, #{rows}
    </select>

    <!-- paging -->
    <select id="getBoardListPaging" resultType="int">
        SELECT
            COUNT(title) AS totalCount
        FROM
            board
        WHERE status = 'Y'
        <if test="keyword != null">
            AND title like CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY seq
    </select>

    <!-- 게시판 상세 조회 -->
    <select id="getBoard" resultType="BoardDetailResponse">
        SELECT
        seq
        , title
        , member_name AS memberName
        , A.member_index AS memberIndex
        , contents
        , title
        , reg_dt
        , upd_dt
        FROM
        board AS A,
            user_info B
        WHERE
            A.member_index = 	B.member_idx
        AND A.seq = #{seq}
        AND A.status = 'Y'
    </select>

    <!-- 게시글 수정 -->
    <update id="editBoard">
        UPDATE board SET
           title = #{title}
           , contents = #{contents}
           , upd_dt = now()
        WHERE seq = #{seq}
    </update>

    <!-- 게시글 삭제(비활성화) -->
    <update id="disableBoard">
        UPDATE board
        SET status = 'N'
        WHERE seq = #{seq}
    </update>

    <update id="disableFile">
        UPDATE board_file_info
        SET status = 'N'
        WHERE seq = #{seq}
    </update>

    <!--############################################## 댓글 ##############################################-->

    <!-- 댓글 등록 -->
    <insert id="saveComment">
        INSERT INTO board_comment(
            seq,
            member_index,
            contents,
            reg_dt
        ) values (
            #{seq},
            #{memberIndex},
            #{contents},
            NOW()
        )
    </insert>

    <!-- 댓글 수정 -->
    <update id="editComment">
        <selectKey keyProperty="seq" order="AFTER" resultType="int">
            SELECT seq FROM board_comment WHERE comment_seq = #{commentSeq}
        </selectKey>
        UPDATE board_comment SET
            contents = #{contents},
            upd_dt = now()
        WHERE comment_seq = #{commentSeq}
    </update>

    <!-- 댓글 목록 조회 -->
    <select id="getBoardCommentList" resultType="BoardCommentResponse">
        SELECT
            seq,
            comment_seq AS commentSeq,
            member_index AS memberIndex,
            member_name AS memberName,
            contents,
            reg_dt AS regDT,
            upd_dt AS updDT
        FROM
            board_comment A,
            user_info B
        WHERE
            A.seq = #{seq}
        AND A.member_index = B.member_idx
        AND A.status = 'Y'
        ORDER BY A.comment_seq
    </select>

    <!--############################################## 파일 ##############################################-->

    <select id="getFileList" resultType="FileResponse">
        SELECT
            seq
             , file_original_name AS fileOriginalName
             , file_random_name AS fileRandomName
             , file_url AS fileUrl
        FROM
            BOARD_FILE_INFO
        WHERE
            SEQ = #{SEQ}
    </select>

    <update id="deleteComment">
        UPDATE board_comment SET
            status = 'N'
        WHERE comment_seq = #{commentSeq}
    </update>

    <insert id="boardFileData">
        INSERT INTO board_file_info(
            seq,
            file_original_name,
            file_random_name,
            file_url,
            status
        ) values (
            #{seq},
            #{fileOriginalName},
            #{fileRandomName},
            #{fileUrl},
            'Y'
        )
    </insert>

    <delete id="deleteBoardFile">
        delete from board_file_info
        where file_random_name = #{fileRandomName}
          and file_url = #{fileUrl}
    </delete>

</mapper>
